<template>
  <div class="about">  
    <h1>Внесение доходов</h1>
    <div>
    <div class="form-result">
    <label>Категории: </label>
    <select v-model="selectedSource">
    <option v-for="source in sources" :key="source.id" v-bind:value="source.name" class="form-select">{{source.name}}</option>
    </select>
    </div>
    <div>
    <input type="number" v-model="finances.summa" min="1" max="12" placeholder="Введите сумму" class="form-input" /><br>   
    <p :result_finance="result_finance">Сумма: {{ result_finance }}</p>    
    </div>
    <button v-if="finances.summa!='' && selectedSource!=''" @click="addFinance()" class="resultButton" :students="students">Сохранить</button>
    </div>
    <div v-for="purchase in purchases" :key="purchase.id">        
  <div>  
  </div>          
  </div>    
  </div>
</template>

<script>
export default {
props: {
        sources: {
            type: Array,
            required: true,
        }
    },    
  data() {  
    return {      
      finances: [
      {
          id: 1,
          summa: "100000"          
        }
      ],            
      result_finance: ''      
    };
  },  
  methods: {
  addFinance() {  
  this.result_finance = this.finances.summa;
  this.finances.push(this.result_finance);
  localStorage.setItem('result',this.result_finance);  
  }
  }
}
</script>
<style >
*{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

p{
  margin-top: 10px;
}

.resultButton{
  cursor: pointer;
  width: 160px;
  height: 30px;
  margin-top: 10px;
  border-radius: 4px;
  border:none;
  background-color:#B22222;
  color: white;
  font-size: 15px;
}
.form-input {
margin-top: 20px;
width: 20%;
line-height: 1.5;
font-weight: 400;
border: 1px solid #bdbdbd;
padding: 0.375rem 0.75rem;
}
select {
width: 20%;
padding: .35rem 2.5rem .35rem 1rem;
border: 1px solid #ccc;
border-radius: 0.25em;
background-color: #fff;
background-image: linear-gradient(to top, #f9f9f9, #fff 33%);

}
.form-result {
margin-top: 20px;
}
</style>
