<template>
  <div>    
    <h1>Учет затрат</h1>
  </div>
  <Purchase-Card v-for="purchase in purchases" :key="purchase.id" :purchase="purchase">    
    <button class="сartStud" @click="$emit('cardToStudent', student)">Карточка студента</button>    
    <button class="сartStud" @click="$emit('lessonToStudent')">Оцена занятия</button>    
  </Purchase-Card>        
</template>

<script>
import PurchaseCard from '@/components/PurchaseCard.vue'

export default {  
  components: {
    PurchaseCard
  },
  props: {
        purchases: {
            type: Array,
            required: true,
        }
    }
}
</script>

<style scoped>
*{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.сartStud{
  cursor: pointer;
  width: 160px;
  height: 30px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 4px;
  border:none;
  background-color:#B22222;
  color: white;
  font-size: 15px;
}
</style>
