<template>
  <div class="about">  
    <h1>Внесение покупки</h1>
    <div>
    <div class="form-result">
    <label>Категории: </label>
    <select v-model="selectedCategory">
    <option v-for="category in categories" :key="category.id" v-bind:value="category.name" class="form-select">{{category.name}}</option>
    </select>
    </div>
    <div>
    <input type="number" v-model="purchases.summa" min="1" max="12" placeholder="Введите сумму" class="form-input" /><br>   
    <p :result_purchase="result_purchase">Сумма: {{ result_purchase }}</p>    
    </div>        
    <button v-if="purchases.summa!='' && selectedCategory!=''" @click="addPurchase()" class="resultButton" :students="students">Сохранить</button>
    </div>
    <div v-for="purchase in purchases" :key="purchase.id">        
  <div>  
  </div>          
  </div>    
  </div>
</template>

<script>
export default {
props: {
        categories: {
            type: Array,
            required: true,
        }
    },    
  data() {  
    return {      
      purchases: [
      {
          id: 1,
          summa: "900"          
        }
      ],                  
      result_purchase: ''      
    };
  },  
  methods: {
  addPurchase() {  
  this.result_purchase = this.purchases.summa;
  this.purchases.push(this.result_purchase);
  localStorage.setItem('result',this.result_purchase);  
  }
  }
}
</script>
<style >
*{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

p{
  margin-top: 10px;
}

.resultButton{
  cursor: pointer;
  width: 160px;
  height: 30px;
  margin-top: 10px;
  border-radius: 4px;
  border:none;
  background-color:#B22222;
  color: white;
  font-size: 15px;
}
.form-input {
margin-top: 20px;
width: 20%;
line-height: 1.5;
font-weight: 400;
border: 1px solid #bdbdbd;
padding: 0.375rem 0.75rem;
}
select {
width: 20%;
padding: .35rem 2.5rem .35rem 1rem;
border: 1px solid #ccc;
border-radius: 0.25em;
background-color: #fff;
background-image: linear-gradient(to top, #f9f9f9, #fff 33%);

}
.form-result {
margin-top: 20px;
}
</style>
