<template>
  <div>
  <p>Сумма: {{ purchase.summa }}</p>
  </div>
</template>

<script>
export default {
  props: {
        purchase: {
            required: true,
            type: Object,
        }
    }    
}
</script>

