<template>
  <div>
  <p>ФИО студента: {{ student.fio }}</p>
  <p>Специальность: {{ student.spec }}</p>
  <p>Группа: {{ student.group }}</p>
  <p>Телефон: {{ student.phone }}</p>
  <p>Адрес: {{ student.address }}</p>
  <slot></slot> 
  </div>  
</template>

<script>
export default {
  props: {        
        student: {
            required: true,
            type: Object,
        },        
        result : {
        required: true,
        type: String,
        }       
    },
    mounted() {
    this.fio = localStorage.getItem('result');
    }    
}
</script>

<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
