<template>
  <nav>
    <router-link to="/">Главная</router-link> |
    <router-link to="/purchase">Покупки</router-link> |
    <router-link to="/finance">Доходы</router-link> |
    <router-link to="/statistic">Статистика затрат</router-link>
  </nav>
  <router-view :categories="categories" :sources="sources" :purchases="purchases" :finances="finances">
  </router-view>  
</template>

<script>
export default {      
  data() {
    return {
      categories: [
        {
          id: 1,
          name: "Еда"          
        },
        {
          id: 2,
          name: "Одежда"
        },
        {
          id: 3,
          name: "Проезд"
        },
        {
          id: 4,
          name: "Техника"
        },
        {
          id: 5,
          name: "Развлечения"
        },
        {
          id: 6,
          name: "Работа"
        }
      ],      
      sources: [
      {
          id: 1,
          name: "Заработная плата"
        },
        {
          id: 2,
          name: "Чаевые"
        },
        {
          id: 3,
          name: "Комиссионные"
        },
        {
          id: 4,
          name: "Банковские вклады"
        },
        {
          id: 5,
          name: "Недвижимость"
        },
        {
          id: 6,
          name: "Облигации и дивидендные акции"
        },
      ],        
    };         
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}
</style>
